@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} */

.f2{
    margin-top: 12%;
    width:100%;
}


.footer {
    position: relative;
    width: 100%;
    background: #00040a;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social-icon,
.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
    list-style: none;
}

.social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social-icon__link:hover{
    font-size: 2rem;
    color: red;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

/* .social-icon__link:hover {
    transform: translateY(-10px);
} */

.menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
}

.menu__link:hover {
    opacity: 1;
    color:red;
}

.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}

.wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
}

.social2{
    width:50%;
    height:auto;
    margin-top: -20%;
    padding-bottom: 20%;
    float:left;
    margin-left: -50%;
    
}

.social3 {
    width: 29%;
    height: auto;
    margin-top: -6%;
    padding-bottom: 20%;
    float: left;
    margin-right: -30%;

}

@keyframes animateWaves {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@keyframes animate {
    0% {
        background-position-x: -1000px;
    }

    100% {
        background-positon-x: 0px;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 20px 20px;
    }

    .menu__link,
    .social-icon__link {
        font-size: 1rem;
        margin: 0 5px;
    }

    .social2,
    .social3 {
        width: 40px;
    }
}

@media (max-width: 480px) {

    .menu__link,
    .social-icon__link {
        font-size: 0.9rem;
        margin: 0 5px;
    }

    .social2,
    .social3 {
        width: 35px;
    }
}